h1{
    padding-inline-start: 0%;
    max-width: 100rem;
    color: blue;
    font-size:10rem;
    text-align: center; 
}
h2{
    padding-inline-start: 0%;
    max-width: 100rem;
    color: blue;
    font-size: medium;
    text-align: center;
}